[Unit]
Description=Geth Archive Node
After=network.target auditd.service
Wants=network.target

[Service]
WorkingDirectory=/root
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment NODE_NAME=$(hostname)"
ExecStart=/usr/bin/geth --identity "archive-node-${NODE_NAME}" --ethstats "archive-node-${NODE_NAME}:helloWorld@10.104.4.230" --config /bkc-node/mainnet/config.toml --cache 4048 --gcmode archive
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
Alias=geth.service