  GNU nano 4.8                                                                          /etc/systemd/system/geth.service                                                                                    
[Unit]
Description=Geth Archive Node
After=network.target auditd.service
Wants=network.target

[Service]
WorkingDirectory=/root
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment NODE_NAME=$(hostname)"
ExecStart=/usr/bin/geth --identity "${NODE_NAME} --ethstats "${NODE_NAME}:s3cr3t@18.140.122.225:4000" --config /bkc-node/mainnet/config.toml  --cache 4048
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
Alias=geth.service